*~
*.o
*.lo
*.la
*.bz2
*.pyc
*.gir
*.typelib

Makefile
Makefile.in
.deps
.libs

/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1
/depcomp

/data/pkg-config/qrtr-glib.pc

/src/libqrtr-glib/qrtr-version.h

/docs/reference/libqrtr-glib/version.xml
/docs/reference/libqrtr-glib/libqrtr-glib.args
/docs/reference/libqrtr-glib/libqrtr-glib.hierarchy
/docs/reference/libqrtr-glib/libqrtr-glib.interfaces
/docs/reference/libqrtr-glib/libqrtr-glib.prerequisites
/docs/reference/libqrtr-glib/libqrtr-glib.signals
/docs/reference/libqrtr-glib/libqrtr-glib.actions
/docs/reference/libqrtr-glib/libqrtr-glib.types
/docs/reference/libqrtr-glib/*.mstamp
/docs/reference/libqrtr-glib/*.stamp
/docs/reference/libqrtr-glib/*.txt
/docs/reference/libqrtr-glib/*.bak
/docs/reference/libqrtr-glib/html
/docs/reference/libqrtr-glib/tmpl
/docs/reference/libqrtr-glib/xml
